@using Microsoft.AspNetCore.Identity
@using UvarTo.Areas.Identity.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
    var userFirstName = ViewData["UserFirstName"] as string;
}


<div class="text-center">
    <h1 class="display-4">Welcome on UvarTo

    </h1>

    @if (User.IsInRole("Admin"))
    {
        <h1>Vítejte admine! @userFirstName</h1>
    }
    else if (User.IsInRole("User"))
    {
        <h1>Welcome @userFirstName</h1>
    }
    else
    {
     <h5>
         We can see you have no account on our website <br>
            in order to be able to share your amazing recipes, menus and tips or tricks with the world, you must register
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
     </h5> 
    }
    
</div>
    @* 
    POKUS O ZOBRAZENÍ 3 TABLES VE 3 SLOUPCÍCH NEFUNKČNÍ    
    <div class="row">
        <div class="col-md-4">
            @if (Model != null)
            {
                for (int i = 0; i<4; i++){
                    var item = Model;
                    <div class="col-md-12">
                        <div class="recipe mb-4" data-difficulty="@item.Difficulty" data-cook-time="@item.CookTime" data-category="@item.RecipeCategory">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="@item.ImageUrl" alt="Image" class="img-fluid" style="max-width: auto; height: 258px;">
                                </div>

                                <div class="col-md-12">
                                    <p>@item.RecipeCategory</p>
                                    <h3 class="recipe-name-link">
                                        <a asp-action="Details" asp-route-id="@item.Id">@item.RecipeName</a>
                                    </h3>
                                    <p>Popis: @item.RecipeText</p>
                                    <p>Náročnost: @item.Difficulty</p>
                                    <p>Doba přípravy: @item.CookTime Minut</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
           
            }
        </div>
        <div class="col-md-4">
            @if (Model != null)
            {
            for (int i = 0; i<4; i++) {
                var item=Model;
                <div class="row">


                    <div class="col-md-8">
                        <h3 class="tips-name-link"><a asp-action="Details" asp-route-id="@item.Id">@item.TipName</a></h3>
                        <p>@item.TipText</p>

                        <div class="button">
                            <a asp-action="Edit" asp-route-id="@item.Id" style="color: black">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id" style="color: black">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" style="color: black">Delete</a>
                        </div>
                    </div>
                </div>
            }
            }
        </div>
        <div class="col-sm-4">.col</div> 
</div>*@