@using Microsoft.AspNetCore.Identity
@using UvarTo.Infrastructure.Identity;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@model List<ApplicationUser>
@{
    string userFirstName = ViewData["UserFirstName"] as string;
}
<style>
    body {
        background-color: #F7F7F7;
    }
    .form-group input:focus,
    .form-group textarea:focus {
        outline: none; 
        border-color: #000 !important; 
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important; 
    }
</style>

<body>
    <h2>List of Registered Users</h2>
    <div class="container">
        @foreach (var user in Model)
        {
            <div class="row">     
                <div class="col-md-8">
                    <h5><strong>Id of user:</strong> @user.Id</h5>
                    <p><strong>Firstname:</strong> @user.FirstName</p>
                    <p><strong>Lastmame:</strong> @user.LastName </p>
                    <p> <strong>Email:</strong> @user.Email</p>
                </div>    
                <div class="col-md-4 text-right-md">
                    <p><a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary btn-block btn-custom">Edit</a></p>
                </div>    
            </div>
        }
    </div>
</body>