@model UvarTo.Domain.Entities.Recipes

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>@Html.DisplayFor(model => model.RecipeName)</h1>

    <div>
        <hr/>
        <div class="row">
            <div class="col-md-7">
                <img src="@Model.ImageUrl" alt="Image" class="img-fluid" style="width: 700px; height: 400px;">
            </div>
    
            <div class="col-md-5">
                <h4 class="my-3">Category: @Html.DisplayFor(model => model.RecipeCategory)</h4>
                <h4 class="my-3">Cooking time: <span>@Html.DisplayFor(model => model.CookTime) minut</span></h4>
                <h4 class="my-3">Difficulty: <span>@Html.DisplayFor(model => model.Difficulty)/10</span></h4>
                <hr/>
                <h3 class="my-3">Recipe description</h3>
                <p>@Html.DisplayFor(model => model.RecipeText)</p>    

                <div class="btn btn-primary btn-custom col-md-5" style="margin-top: 8px;">
                    <a asp-action="Edit" asp-route-id="@Model?.Id" style="color: white; text-decoration: none">Edit</a> |
                    <a asp-action="Index" style="color: white; text-decoration: none">Back to List</a>
                </div>
            </div>
        
    </div>
        
    </div>
</div>