@model List<Recipes>
@using Microsoft.AspNetCore.Mvc.Rendering
<head>
    <link href="@Url.Content("~/css/Search.css")" rel="stylesheet" type="text/css" />

</head>
<style>
    body {
        background-color: #F7F7F7;
    }
</style>
<body>
<div class="container">
    <div class="row justify-content-center" id="main">
        <h2>Find a recipe by ingredient</h2>
        <div class="col-md-4">
            <form asp-action="ShowSearchResults" class="search-form">
                <div class="form-group search-input">
                    <label for="searchPhrase" class="control-label"></label>
                    <input name="SearchPhrase" class="form-control" placeholder="What should I eat today hmm..." />
                </div>
                <div class="form-group search-button">
                    <input type="submit" value="Search" class="btn btn-primary btn-block btn-custom" />
                </div>
            </form>
        </div>
    </div>

    @if (Model != null)
    {
        @if (Model.Any())
        {
            <div class="col-md-12">
                @foreach (var item in Model)
                {
                        item.RecipeText = item.RecipeText.Length > 60 ? item.RecipeText.Substring(0, 60) + "..." : item.RecipeText;

                    <div class="recipe mb-4" data-difficulty="@item.Difficulty" data-cook-time="@item.CookTime" data-category="@item.RecipeCategory">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="@item.ImageUrl" alt="Image" class="img-fluid" style="width: 400px; height: 200px;">
                            </div>

                            <div class="col-md-8">
                                
                                @* <h3>@item.RecipeName</h3> *@
                                @* <h3 class="recipe-name-link">@Html.ActionLink(@item.RecipeName, "Edit", "Recipes")</h3>> *@
                                <h3 class="recipe-name-link">
                                    <a asp-action="Details" asp-route-id="@item.Id">@item.RecipeName</a>
                                </h3>
                                    <p><strong>Kategorie:</strong>@item.RecipeCategory</p>
                                    <p class="recipe-text card-text"><strong>Popis:</strong> @Html.DisplayFor(model => item.RecipeText)</p>
                                    <p><strong>Náročnost:</strong> @item.Difficulty</p>
                                    <p><strong>Doba přípravy:</strong> @item.CookTime Minut</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            
            @* <div>
    <a asp-action="ShowSearchForm">Back to List</a>
    </div> *@
        }
        else
        {
            <p class="text-center">No recipes found.</p>
        }
    }
</div>
</body>
<script>
    function clearText() {
        var searchInput = document.getElementById('searchInput');
        if (searchInput.value == 'What should I eat today hmm...') {
            searchInput.value = '';
            searchInput.classList.remove('placeholder');
        }
    }

    document.getElementById('searchForm').addEventListener('submit', function () {
        var searchInput = document.getElementById('searchInput');
        if (searchInput.value == '') {
            searchInput.value = 'What should I eat today hmm...';
            searchInput.classList.add('placeholder');
        }
    });

    document.getElementById('redirectToAnotherView').addEventListener('click', function () {
        // Redirect to AnotherView using JavaScript
        window.location.href = '@Url.Action("Index")';
    });
</script>