@model IEnumerable<UvarTo.Domain.Entities.Recipes>
<head>
    <link href="@Url.Content("~/css/Search.css")" rel="stylesheet" type="text/css" />
</head>

<style>
    div.right {
        background-color: #EEEEEE;
        text-align: right;
        margin-top: 65px;
    }
    body {
        background-color: #F7F7F7;
    }

    div #main {
        margin-bottom: 25px;
        background-color: #F7F7F7;
    }
    
    div.row.right {
        background-color: #F7F7F7;
        text-align: right;
    }

    div.col-md-4 h3.recipe-name-link a {
        color: black;
        text-decoration: none;
    }

    div.col-md-4 h3.recipe-name-link a:hover {
        color: darkgray;
    }
</style>

<h2>User Items</h2>
<div class="row right">
    <p class="right"><a asp-action="Index" class="btn btn-primary btn-block btn-custom">Back to Recipes</a></p>

</div>

<body>
    <div class="container">
       
            <div class="col-md-12">
                @foreach (var item in Model)
                {
                    item.RecipeText = item.RecipeText.Length > 60 ? item.RecipeText.Substring(0, 60) + "..." : item.RecipeText;

                   
                        <div class="row">
                            <div class="col-md-4">
                                <img src="@item.ImageUrl" alt="Image" class="img-fluid" style="width: 400px; height: 200px;">
                            </div>

                            <div class="col-md-4">

                                @* <h3>@item.RecipeName</h3> *@
                                @* <h3 class="recipe-name-link">@Html.ActionLink(@item.RecipeName, "Edit", "Recipes")</h3>> *@
                                <h3 class="recipe-name-link">
                                    <a asp-action="Details" asp-route-id="@item.Id">@item.RecipeName</a>
                                </h3>
                                <p><strong>Kategorie:</strong>@item.RecipeCategory</p>
                                <p class="recipe-text card-text"><strong>Popis:</strong> @Html.DisplayFor(model => item.RecipeText)</p>
                                
                                <p><strong>Náročnost:</strong> @item.Difficulty</p>
                                <p><strong>Doba přípravy:</strong> @item.CookTime Minut</p>
                            
                            </div>
                        <div class="col-md-4 right">
                            <p>
                            @using (Html.BeginForm("DeleteRecipes", "Recipes", new { id = item.Id }, FormMethod.Post))
                            {
                                <button class="btn btn-primary btn-block btn-custom" type="submit">Delete My Recipe</button>
                            }
                            </p>
                        </div>
                        </div>
                    
                    
                }
            </div>

    </div>
</body>