
@model List<Tips>
<head>
    <link href="@Url.Content("~/css/Search.css")" rel="stylesheet" type="text/css" />

</head>

<h2>User Items</h2>
<p>User ID: @ViewBag.UserIdString</p>
<a asp-action="Index" class="btn btn-primary btn-block btn-custom">Back to Tips and Tricks</a>


<ul>
    @foreach (var item in Model)
    {

        <div class="col-md-8">
            <h3 class="tips-name-link"><a asp-action="Details" asp-route-id="@item.Id">@item.TipName</a></h3>
            <p>@item.TipText</p>

            <div class="button">
                <a asp-action="Edit" asp-route-id="@item.Id" style="color: black">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" style="color: black">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" style="color: black">Delete</a>
            </div>
        </div>
    }
</ul>
